databases:
  - name: focalboard-db
    databaseName: focaldb
    user: focaluser
services:
  - type: web
    name: focalboard
    env: docker
    repo: https://github.com/focusurec/focalboard.git
    branch: main  # Alterado de 'master' para 'main'
    dockerCommand: /app/focalboard-server
    healthCheckPath: /api/v1/ping
    envVars:
      - key: FOCALBOARD_POSTGRES
        fromDatabase:
          name: focalboard-db
          property: connectionString
    autoDeploy: false
